@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.align{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 38px;
    font-family: 'Fredoka';
    font-weight: 700;
    text-align: center;
    line-height: 45px;
    color: #00296B;
}

.subtitle{
    font-size: 26px;
    color: #EDA900;
    font-family: 'Fredoka';
    font-weight: 700;
}

.text{
    font-size: 17px;
    font-family: 'Nunito';
    font-weight: 700;
    text-align: center;
    color: #00296B;
    text-align: justify;
    margin-top: 15px;
}

.fundo{
    background-image: url("../images/Vector\ 187.png");
    height: 382px;
    width: 949px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.btn-conhecer a{
    color: white;
    border-radius: 20px;
   
    padding-left: 25px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 9px;
    margin-left: -28px;

    text-decoration: none;
}

.btn-conhecer a:hover{
    opacity: 1;
    color: white;
    transition: 0.5s;
}

.btn-conhecer{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FF013A;
    border-radius: 20px;

    font-family: 'Fredoka';
    font-weight: bold;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 26.5px;

    margin-top: 25px;

    width: 224px;
    height: 43px;
}